{
    "crm_type": "salesforce",
    "date_updated": "2022-01-10T06:30:54Z",
    "integrations": null,
    "markdown": {
        "enabled": true,
        "mode": "readWrite"
    },
    "crm_callback_url": null,
    "serverless_service_sids": [
        "ZS96c826b48cdf30161614fedd4f03d7da"
    ],
    "queue_stats_configuration": null,
    "plugin_service_enabled": null,
    "crm_attributes": null,
    "ui_version": "~1.27.0",
    "crm_fallback_url": null,
    "taskrouter_target_workflow_sid": "WW2cdec0e84b76abe07650d157e37ceebc",
    "messaging_service_instance_sid": null,
    "plugin_service_attributes": null,
    "call_recording_enabled": false,
    "call_recording_webhook_url": null,
    "public_attributes": {
        "loginPopup": true
    },
    "crm_enabled": true,
    "taskrouter_worker_attributes": null,
    "chat_service_instance_sid": "IS28eec3afa51f4f6abf870f5b13f6ea85",
    "taskrouter_worker_channels": null,
    "ui_dependencies": null,
    "notifications": {
        "enabled": false,
        "mode": "whenNotInFocus"
    },
    "date_created": "2018-10-30T22:13:28Z",
    "taskrouter_skills": [
        {
            "minimum": null,
            "multivalue": false,
            "name": "Lost Stolen",
            "maximum": null
        },
        {
            "minimum": null,
            "multivalue": false,
            "name": "Dispute",
            "maximum": null
        },
        {
            "minimum": null,
            "multivalue": false,
            "name": "Intuit TC LS",
            "maximum": null
        },
        {
            "minimum": null,
            "multivalue": false,
            "name": "Intuit TC Dispute",
            "maximum": null
        },
        {
            "minimum": null,
            "multivalue": false,
            "name": "IntuitQB_support",
            "maximum": null
        },
        {
            "minimum": null,
            "multivalue": false,
            "name": "IntuitTC_support",
            "maximum": null
        },
        {
            "minimum": null,
            "multivalue": false,
            "name": "Intuit TC",
            "maximum": null
        }
    ],
    "taskrouter_taskqueues": null,
    "ui_attributes": {
        "version_compatibility": "yes",
        "colorTheme": {
            "light": true,
            "baseName": "FlexLight",
            "preset": {
                "id": "light-blue",
                "name": "Light Blue"
            },
            "overrides": {
                "MainHeader": {
                    "Container": {
                        "background": "#233659"
                    }
                },
                "SideNav": {
                    "Button": {
                        "background": "#4F5E7A"
                    },
                    "Container": {
                        "background": "#4F5E7A"
                    }
                }
            }
        },
        "showSupervisorDesktopView": true,
        "language": "en-US",
        "showRealtimeQueuesStats": true,
        "serviceBaseUrl": "fuchsia-wasp-8703.twil.io",
        "pluginService": {
            "url": "https://flex.twilio.com/plugins",
            "enabled": true
        },
        "sso": {
            "accountSid": "",
            "loginUrl": "https://preview.twilio.com/iam/Accounts/{accountSid}/authenticate"
        },
        "sdkOptions": {
            "voice": {
                "region": "us1"
            }
        },
        "ytica": {
            "agentDashboardEnabled": false,
            "supervisorInspectionsEnabled": false,
            "supervisorReportsEnabled": false,
            "supervisorDashboardEnabled": false
        },
        "flexServiceUrl": "https://preview.twilio.com/Flex",
        "annouce_media": "https://sounds-6171.twil.io/bell.mp3",
        "version_message": "",
        "agentActivityRules": {
            "WAc9df711563c51eac8c8c0c252756aee2": {
                "requiredSkill": null,
                "sortOrder": 0
            },
            "WA3366048d53362514a5b90096b58a48be": {
                "requiredSkill": null,
                "sortOrder": 1
            }
        }
    },
    "flex_insights_drilldown": null,
    "url": "https://flex-api.twilio.com/v1/Configuration",
    "outbound_call_flows": {
        "default": {
            "workflow_sid": "WW2cdec0e84b76abe07650d157e37ceebc",
            "enabled": true,
            "queue_sid": "WQ40dba70e0f4509d570ea933265d937fa",
            "caller_id": "+13472271991",
            "location": "US"
        }
    },
    "taskrouter_target_taskqueue_sid": "WQc85a32bf66922e420fc88e9f7859f38a",
    "account_sid": "AC9252017ad97a0404535f7784aed78112",
    "flex_url": null,
    "ui_language": null,
    "attributes": {
        "seenOnboarding": true,
        "demo_phone_number": "+1 520 462 5543",
        "dialpad": {
            "from_number": "+1888338 7521",
            "enabled": false,
            "company_name": "GoBank Rewards"
        },
        "previous_ui_version": {
            "date": "2021-11-22T01:58:40.009Z",
            "semver": "~1",
            "version": "1.27.0"
        }
    }
}